<!DOCTYPE HTML>
    <html lang="en">
        <head>
            <title>Search A Movie Poster </title>
        </head>
        <body>
            <div id="container">
                <div class="form">
                    <form action="/" method="post">
                        <div id="input-2">
                            <label for="name">Insert Movie Name you want to add to mongodb: </label>
                            <input type="text" name="name" id='name'>
                        </div>
                        <br>
                        <br>
                        <br>

                        <div id="div-submit">
                            <input type="submit" name="submit_button"  value="submit">
                        </div>
                        <br>
                        <div id="div-submit-1">
                            <input type="submit" name="submit_button"  value="delete">
                        </div>
                        <br>
                        <div id="div-submit-2">
                            <input type="submit" name="submit_button"  value="read data">
                        </div>
                    </form>
                </div>

            </div>
        </body>
    </html>